<% include partials/header %>

<h1>This is the campgrounds pages</h1>
<ul>
<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image%>"/>
    </div>
<% }); %>
</ul>

<% include partials/footer %>