<% include partials/header %>

<div class="container">
    <div class="jumbotron">
      <h1>YelpCamp</h1>
      <p>A simple Yelp like site for campgrounds</p>
      <p><a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View Campgrounds</a></p>
    </div>
</div>

<% include partials/footer %>