<% include partials/header %>

<h1>Login</h1>

<p>Welcome to YelpCamp</p>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button>Login</button>
</form>

<% include partials/footer %>